body {
  margin: 0;
  padding: 0;
}

.app {
  background-image: linear-gradient(#6ba8a9, #1d4d4f);
  text-align: center;
  background-color: white;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.next-button {
  border: none;
  cursor: pointer;
  font-family: "Montserrat";
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  padding: 7px 13px;
  box-shadow: 0 5px #999;
  background-color: #e5dfdf;
}
.next-button:hover {
  background-color: white;
  border: none;
}
.next-button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
